body{
  background-color: darkgrey;
    
}
/*..
.section-name {
  text-align: center;
  background-color: rgba(224, 221, 221, 0.54);
  border: solid transparent;
  border-radius: 25px;
}*/

.text-center{
  text-align: center;
}

/*navbar*/
/*topic*/
.text-center-animation {
  font-size: 200px;
  font-family: 'Black Ops One', cursive;
  margin-top: 200px;
  margin-bottom: 200px;
}
/*overview*/

.overview {
  background-color: lightgrey;
  padding: 20px;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
}
/*Context*/
.context {
  background-color: lightgrey;
  padding: 50px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  
}
.text-left-context {
  color: white;
  font-size: 20px;
}

/*context2*/
.context2 {
  background-color: lightgrey;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  padding: 50px;
}

/*partA*/
.partA {
  background-color: lightgrey;
  margin-top: 50px;
  font-family: 'Comfortaa', cursive;
}
.hardware{
  margin-top: 20px;
  background-color: grey;
  border: solid transparent;
  border-radius: 25px;
}
#hardware p{
  color: white;
  font-family: 'Comfortaa', cursive;  
}

/*partB*/
.partB {
  background-color: lightgrey;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  padding: 20px;
  margin-top: 50px;
}

/*example*/
.aframebox{
height: 500px;
width: 100%;
}

@media only screen and (max-width: 576px) {
  .text-center-animation{
    font-size: 90px;
  }
}
@media only screen and (min-width: 576px) {
  .text-center-animation{
    font-size: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .text-center-animation{
    font-size: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .text-center-animation{
    font-size: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .text-center-animation{
    font-size: 200px;
  }
}