body{
  background-color: grey;
    
}
/*..
.section-name {
  text-align: center;
  background-color: rgba(224, 221, 221, 0.54);
  border: solid transparent;
  border-radius: 25px;
}*/

/*navbar*/
/*topic*/
.text-center-animation {
  font-size: 200px;
  margin-top: 280px;
  margin-bottom: 460px;
  font-family: 'Black Ops One', cursive;
}
/*overview*/
.section-name-overview {
  margin-top: 100px;
  text-align: center;
  background-color: rgba(224, 221, 221, 0.54);
  border: solid transparent;
  border-radius: 25px;
}
.text-center {
  color: white;
  text-align: center;
}
.overview {
  background-color: lightgrey;
  padding: 20px;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
}
/*Context*/
.section-name-context {
  margin-top: 100px;
  text-align: center;
  background-color: rgba(224, 221, 221, 0.54);
  border: solid transparent;
  border-radius: 25px;
}
.context {
  background-color: lightgrey;
  padding: 50px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  
}
.text-left-context {
  color: white;
  font-size: 20px;
}

/*context2*/
.context2 {
  background-color: lightgrey;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  padding: 50px;
}

/*partA*/
.col-4 {
  background-color: lightgrey;
  font-family: 'Comfortaa', cursive;
  border: solid black;
  border-radius: 50px;
  margin-top: 20px;
  padding: 20px;
}