body{
  background-color: white;
    
}
/*..
.section-name {
  text-align: center;
  background-color: rgba(224, 221, 221, 0.54);
  border: solid transparent;
  border-radius: 25px;
}*/

.line{
  border: solid transparent;
  background-color: #233c57;
  height: 50px;
}
.text-center{
  text-align: center;
}
.text-left{
 text-align: left;
}

/*navbar*/
/*topic*/
.animation{
  border: solid transparent;
  background-color: #1f4166;
  height: 900px;
  
}
.text-center-animation {
  font-size: 100px;
  font-family: 'Black Ops One', cursive;
  margin-top: 200px;
  margin-bottom: 200px;
}
/*overview*/

.overview {
  background-color: skyblue;
  padding: 20px;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 25px;
  margin-top: 100px;
}
/*Context*/
.context {
  padding: 50px;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 100px;
  
}
.text-left-context {
  font-size: 20px;
}
  #img1 {
    height: 500px;
    width: 500px;
  }

/*context2*/
.context2 {
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  margin-top: 20px;
  padding: 50px;
  
  
}

/*partA*/
.partA {
  margin-top: 50px;
  font-family: 'Comfortaa', cursive;
}
.hardware{
  margin-top: 20px;
  background-color: #6a92d4;
  border: solid transparent;
  border-radius: 25px;
}
#hardware p{
  color: white;
  font-family: 'Comfortaa', cursive;  
}

/*partB*/
.partB {
  background-color: #78aede;
  font-family: 'Comfortaa', cursive;
  border: solid transparent;
  border-radius: 50px;
  padding: 20px;
  margin-top: 50px;
}

/*A-frame*/
.aframebox{
height: 700px;
width: 700px;
/*
position: absolute;
top: 8px;
right: 16px;*/
}

@media only screen and (max-width: 576px) {
  .text-center-animation{
    font-size: 80px;
    text-align: center;
  }
   #img2 {
  height: 250px;
  width: 350px;
   }
   #img1 {
  height: 250px;
  width: 350px;
   }
   
   li{
    font-size: 15px;
  }
  .aframebox{
    height: 300px;
    width: 400px;
  }
  
  
}
@media only screen and (min-width: 576px) {
  .text-center-animation{
    font-size: 100px;
    text-align: center;
  }
  
   #img2 {
  height: 300px;
  width: 400px;
}
  #img1 {
  height: 300px;
  width: 400px;
}  

  li{
    font-size: 10px;
  }
  .aframebox{
    height: 400px;
    width: 450px;
  }
  
}
@media only screen and (min-width: 768px) {
  .text-center-animation{
    font-size: 70px;
  }
   #img2 {
  height: 550px;
  width: 500px;
  }
  #img1 {
  height: 300px;
  width: 550px;
  }
  li{
    font-size: 15px;
  }
  .context2h1 {
    font-size: 30px;
  }
  .aframebox{
    margin-top: 20px;
    height: 400px;
    width: 350px;
  }
}
@media only screen and (min-width: 992px) {
  .text-center-animation{
    font-size: 90px;
  }
  #img2 {
  height: 400px;
  width: 500px;
}
  #img1 {
  height: 400px;
  width: 400px;
}
  li{
    font-size: 15px;
  }
  .context2h1 {
    font-size: 30px;
  }
   .aframebox{
    height: 600px;
    width: 450px;
  }
}
@media only screen and (min-width: 1200px) {
  .text-center-animation{
    font-size: 130px;
  }
  #img2 {
  height: 550px;
  width: 600px;
}
  #img1 {
  height: 500px;
  width: 500px;
}

  li{
    font-size: 20px;
  }
  .aframebox{
    height: 700px;
    width: 600px;
  }
}
  